:root {
    --primary-color: #16161D;
    --light: #fff;
    --dark: #333; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--light);
    background: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;    
    color: var(--light);
}

